/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
	b, strong {
		font-weight: bold;
	}


/* #Base 960 Grid
================================================== */

    .container                                  { width: 1280px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


/* #Basic Styles
================================================== */
	body {
		background: #f6f6f6 url('page_bkg.png');
		border-top: 6px solid #37769c;
		font: 0.87em/1.55em Arial, Helvetica, sans-serif;
		color: #666;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}


/* #Typography
================================================== */
	.hfont {
		font-family: 'Palatino Linotype', Palatino, Georgia, Times, serif;		
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 2.4em; line-height: 1.1em; margin-bottom: 14px;}
	h2 { font-size: 2.2em; line-height: 1.1em; margin-bottom: 10px; }
	h3 { font-size: 1.8em; line-height: 1.1em; margin-bottom: 8px; }
	h4 { font-size: 1.55em; line-height: 1.1em; margin-bottom: 4px; }
	h5 { font-size: 1.3em; line-height: 1.2em; }
	h6 { font-size: 1em; line-height: 1.2em; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #0766a2; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	a.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .6);
	  cursor: pointer;
	  margin-bottom: 10px;
	  line-height: 18px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	a.button:focus,
	button:focus,
	input[type="submit"]:focus,
	input[type="reset"]:focus,
	input[type="button"]:focus,
	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #fff; /* Old browsers */
		background: #fff -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #fff -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #fff -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #fff -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #fff linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }


	/* ----- Blue buttons ----- */
	
	.button.blue,
	button.blue,
	input[type="submit"].blue,
	input[type="reset"].blue,
	input[type="button"].blue {
		background: #d7e3ed; /* Old browsers */
		background: #d7e3ed -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(39,123,184,.5) 100%); /* FF3.6+ */
		background: #d7e3ed -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(39,123,184,.5))); /* Chrome,Safari4+ */
		background: #d7e3ed -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(39,123,184,.5) 100%); /* Chrome10+,Safari5.1+ */
		background: #d7e3ed -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(39,123,184,.5) 100%); /* Opera11.10+ */
		background: #d7e3ed -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(39,123,184,.5) 100%); /* IE10+ */
		background: #d7e3ed linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(39,123,184,.5) 100%); /* W3C */
	  border: 1px solid #8399ab;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa;
	}

	a.button.blue:focus,
	button.blue:focus,
	input[type="submit"].blue:focus,
	input[type="reset"].blue:focus,
	input[type="button"].blue:focus,
	a.button.blue:hover,
	button.blue:hover,
	input[type="submit"].blue:hover,
	input[type="reset"].blue:hover,
	input[type="button"].blue:hover {
		color: #222;
		background: #bbd7ed; /* Old browsers */
		background: #bbd7ed -moz-linear-gradient(top, rgba(230,245,255,.5) 0%, rgba(0,104,163,.5) 100%); /* FF3.6+ */
		background: #bbd7ed -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,104,163,.5))); /* Chrome,Safari4+ */
		background: #bbd7ed -webkit-linear-gradient(top, rgba(230,245,255,.5) 0%,rgba(0,104,163,.5) 100%); /* Chrome10+,Safari5.1+ */
		background: #bbd7ed -o-linear-gradient(top, rgba(230,245,255,.5) 0%,rgba(0,104,163,.5) 100%); /* Opera11.10+ */
		background: #bbd7ed -ms-linear-gradient(top, rgba(230,245,255,.5) 0%,rgba(0,104,163,.5) 100%); /* IE10+ */
		background: #bbd7ed linear-gradient(top, rgba(230,245,255,.5) 0%,rgba(0,104,163,.5) 100%); /* W3C */
	  border: 1px solid #849aac;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa;
	}

	a.button.blue:active,
	button.blue:active,
	input[type="submit"].blue:active,
	input[type="reset"].blue:active,
	input[type="button"].blue:active {
		background: #a0cced; /* Old browsers */
		background: #a0cced -moz-linear-gradient(top, rgba(210,230,245,.5) 0%, rgba(0,91,149,.5) 100%); /* FF3.6+ */
		background: #a0cced -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,230,245,.5)), color-stop(100%,rgba(0,91,149,.5))); /* Chrome,Safari4+ */
		background: #a0cced -webkit-linear-gradient(top, rgba(210,230,245,.5) 0%,rgba(0,91,149,.5) 100%); /* Chrome10+,Safari5.1+ */
		background: #a0cced -o-linear-gradient(top, rgba(210,230,245,.5) 0%,rgba(0,91,149,.5) 100%); /* Opera11.10+ */
		background: #a0cced -ms-linear-gradient(top, rgba(210,230,245,.5) 0%,rgba(0,91,149,.5) 100%); /* IE10+ */
		background: #a0cced linear-gradient(top, rgba(210,230,245,.5) 0%,rgba(0,91,149,.5) 100%); /* W3C */
	  border: 1px solid #607687;
	}

	.button.blue.pushed,
	button.blue.pushed,
	input[type="submit"].blue.pushed,
	input[type="reset"].blue.pushed,
	input[type="button"].blue.pushed,
	a.button.blue.pushed:hover,
	button.blue.pushed:hover,
	input[type="submit"].blue.pushed:hover,
	input[type="reset"].blue.pushed:hover,
	input[type="button"].blue.pushed:hover {
		background: #e8f5fe; /* Old browsers */
		background: #e8f5fe -moz-linear-gradient(top, rgba(170,196,218,.5) 0%, rgba(255,255,255,.2) 100%); /* FF3.6+ */
		background: #e8f5fe -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,196,218,.5)), color-stop(100%,rgba(255,255,255,.2))); /* Chrome,Safari4+ */
		background: #e8f5fe -webkit-linear-gradient(top, rgba(170,196,218,.5) 0%,rgba(255,255,255,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #e8f5fe -o-linear-gradient(top, rgba(170,196,218,.5) 0%,rgba(255,255,255,.2) 100%); /* Opera11.10+ */
		background: #e8f5fe -ms-linear-gradient(top, rgba(170,196,218,.5) 0%,rgba(255,255,255,.2) 100%); /* IE10+ */
		background: #e8f5fe linear-gradient(top, rgba(170,196,218,.5) 0%,rgba(255,255,255,.2) 100%); /* W3C */
	  border: 1px solid #8399ab;
	  border-bottom: 1px solid #ccc;
	  border-right: 1px solid #ddd;
	  text-shadow: 0 -1px rgba(255, 255, 255, .5);
	  color: #000;
	}

	/* ----- Video Walkthrough buttons ----- */
	
	.button.silver,
	button.silver,
	input[type="submit"].silver,
	input[type="reset"].silver,
	input[type="button"].silver {
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(180,180,180,.2) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.9)), color-stop(100%,rgba(180,180,180,.2))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(180,180,180,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(180,180,180,.2) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(180,180,180,.2) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(180,180,180,.2) 100%); /* W3C */
	  border: 1px solid #8399ab;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa;
	}

    .videoicon {
        display: block;
        min-height: 18px;
        padding-left: 30px;
        background: url('icon_video.png') no-repeat left center;
    }
    
    .sourcebuttons .videoicon {
        padding-left: 0;
        background-position: 10px center;
    }

	.button.extraspace {
		margin-right: 1em;
	}

	.videobuttons {
		font-size: 0.85em;
		float: right;
	}
	
	.videobuttons .button {
		margin-left: 0.3em;
		width: 4.75em;
		text-align: center;
	}
	
	.videobuttons label {
		font-weight: bold;
		display: inline-block;
	}
	
	html.ie7 .videobuttons label {
		float: left;
		padding-top: 0.25em;
	}


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


/* #Header
================================================== */

#header {
	background: url('header_bkg.png') repeat-x left bottom;
	min-height: 70px;
}

#header #logo {
	margin-top: 20px;
	opacity: 0.8;
}

#header #logo-link:focus #logo,
#header #logo-link:hover #logo {
	opacity: 1;
}

#header #bannercontainer {
    margin-top: 13px;
    margin-bottom: 8px;
    text-align: right;
}

#titlebar {
    background: #ececec;
	margin-bottom: 1.5em;
	text-align: left;
	letter-spacing: 0.075em;
}

#titlebar h1 {
	padding-top: 0.65em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .75),
		         0px -1px 1px rgba(196, 196, 196, .5);
}

#titlebar h1, #titlebar h2, #titlebar h3,
#titlebar h4, #titlebar h5, #titlebar h6 {
	color: #aaa;
	margin: 0 0 0.6em 0;
	font-size: 130%;
	line-height: 1.5em;
}

#titlebar .backlink {
    float: right;
    font-size: 0.85em;
    line-height: 1.3em;
    margin: 1.2em 0 !important;
}

#titlebar .backlink .button {
    margin-bottom: 0;
    letter-spacing: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.85em;
    line-height: normal;
}

#header h1 {
	padding-top: 0.65em;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .65),
                -1px -1px 1px rgba(164, 164, 164, .75);
}

#header h1, #header h2, #header h3,
#header h4, #header h5, #header h6 {
	color: #808080;
	margin: 0 0 0.6em 0;
	font-size: 150%;
}

#header div.columns,
#header div.column {
	color: #666;
}

#header div p {
	font-size: 0.83em;
	line-height: 1.4em;
}

#header a:link,
#header a:visited {
	color: #02639e;
}

#header a:active,
#header a:hover {
	color: #000;
}


/* #Category List
================================================== */

	#navigation h4,
	#main h4 {
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1.1em;
	}
	
	ul#categories li {
		margin: 0;
	}
	
	ul#categories li a {
		display: block;
		padding: 6px 10px;
		text-decoration: none;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}
	
	ul#categories li a:focus,
	ul#categories li a:hover {
		background: #d3d6d9;
		opacity: 0.7;
		color: #000;
	}

	ul#categories li a.selected {
		background-color: #37769c;
		color: #fff;
		font-weight: bold;
		opacity: 0.7;
	}


/* #Sample App Listing
================================================== */

       #main #category-name {
              font-size: 1.55em;
              line-height: 1.1em;
              margin-bottom: 0;
              padding-bottom: 8px;
       }
	
	#main #category-desc {
		font-size: 1em;
		margin: 0 0 1.3em 0;
		padding-bottom: 1em;
	}

	#apps .app {
		background: url('separator.png') no-repeat center top;
		border-top: 1px solid #ccc;
		padding-top: 2em;
		margin: 0 0 1.5em 0;
	}
	
	.app h2 {
		font-size: 1.5em;
		margin-bottom: 0.75em;
	}
	
	.app h2 a {
		text-decoration: none;
	}
	
	.app .screenshot {
		width: 200px;
		float: right;
		padding: 6px;
		background: #fff;
		border: 1px solid #ccc;
		margin: 0 0 10px 18px;
		text-align: center;
		line-height: 1px;
	}
	
	.app .screenshot img {
		max-width: 200px;
		max-height: 250px;
	}
	
	.app .app-desc p {
		font-size: 0.88em;
		line-height: 1.5em;
	}


/* Sample Map & Source Code
================================================== */

#map {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #999;
    margin-bottom: 20px;
}

#map,
#Map1Container,
.olMap {
    width: 100%;
    height: 760px;
}


/* Map Instructions & Controls
================================================== */

#sourcebuttons-below {
    display: none;
}

.sourcebuttons {
    margin-top: -10px;
    margin-bottom: 15px;
}

.sourcebuttons a {
    width: 100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#instrux-showhide {
    float: left;
    vertical-align: middle;
    margin-right: 8px;
}

#instrux-showhide input {
    padding: 0;
    line-height: normal;
}

#instrux h4 {
    vertical-align: middle;
}

#instrux-text {
    font-size: 0.88em;
    line-height: 1.5em;
    margin: 20px 0;
}


/* #Footer
================================================== */

#footer {
	background: #ccc;
	background: url('footer_bkg.png') repeat-x left top;
	min-height: 70px;
	margin: 1.5em 0 0 0;
	padding: 1.25em 0 0 0;
	color: #333;
}

#footer h4 {
	font-size: 1.5em;
	color: #333;
	margin: 15px 0 18px 0;
}

#footer p,
#footer li {
	color: #555;
	font-size: 0.9em;
	line-height: 1.5em;
}

#footer ul {
	margin-top: -8px;
}

#footer p label {
	display: inline-block;
	width: 80px;
	color: #888;
}

#footer ul li {
	padding: 0.7em 0;
	border-bottom: 1px solid #aaa;
	margin: 0;
}

#footer ul li a {
	text-decoration: none;
	display: block;
}

#footer #bottomstripe {
	background: #999;
	padding: 1em 0;
	color: #ddd;
	font-size: 0.85em;
	margin-top: 15px;
}

#footer #bottomstripe a:link,
#footer #bottomstripe a:visited {
	color: #ddd;
}

#footer #bottomstripe a:active,
#footer #bottomstripe a:hover {
	color: #fff;
}


/*==================================================
   #Media Queries for Specific Elements
  ================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		.app .screenshot {
			width: 175px;
		}
		
		.app .screenshot img {
			max-width: 175px;
			max-height: 200px;
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

        #map,
        #Map1Container,
        .olMap {
            width: 500px !important;
        }

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {	

        #map,
        #Map1Container,
        .olMap {
            width: 420px !important;
            height: 400px !important;
        }

		h1#page-name {
			font-size: 1.25em;
			letter-spacing: normal;
			line-height: normal;
			padding: 0.2em 0 0.5em 0;
		}
		
		h1#category-name {
			padding-top: 0.5em;
		}
		
		body.list #navigation {
			background-color: #eaeaea;
			border: 1px solid #ccc;
			-moz-box-shadow: 0px 0px 5px #999;
			-webkit-box-shadow: 0px 0px 5px #999;
			box-shadow: 0px 0px 5px #999;
			margin-bottom: 2em;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}
		
		body.list #navigation h4 {
			border-bottom: 0;
			padding: 0.65em;
			background-color: #ddd;
			font-size: 1.3em;
			margin-bottom: 0;
		}
				
		ul#categories {
			font-size: 0.85em;
			margin: 1em 0.75em;
		}

		ul#categories li a {
			padding: 3px 10px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}

		ul#categories li a:focus,
		ul#categories li a:hover {
			background: #d0d3d6;
			color: #000;
			opacity: 0.7;
		}
		
		#sourcebuttons-above {
		    display: none;
		}

		#sourcebuttons-below {
		    display: block;
		}
		
		#footer #contact-vitals {
			float: left;
			margin-right: 4em;
		}
		
		#apps .app {
			background: transparent;
			border-top: 1px solid #ccc;
		}
		
		.app .screenshot {
			width: 150px;
			margin: 0 0 10px 18px;
			float: right;
		}
		
		.app .screenshot img {
			max-width: 150px;
			max-height: 200px;
		}
		
		.app .app-desc {
			margin-left: 0;
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

        .listitembuttons a {
            width: 140px;
            text-align: center;
            display: block;
        }

        .sample #navigation {
            margin-bottom: 20px;
        }
		
        #map,
        #Map1Container,
        .olMap {
            width: 420px !important;
            height: 220px !important;
        }

		#header #logo {
		    margin-top: 15px;
		    margin-bottom: 10px;
		}
		
		#bannercontainer {
		    display: none;
		}
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        h1 {
            font-size: 2em;
        }

        .listitembuttons {
            clear: right;
        }
        
        .sample #navigation {
            margin-bottom: 20px;
        }
        
        #map,
        #Map1Container,
        .olMap {
            width: 300px !important;
            height: 300px !important;
        }
	
		.app .app-desc p {
			word-wrap: break-word;
		}
		
		.app .screenshot {
			width: 100px;
			margin: 0 0 10px 18px;
			float: right;
		}
		
		.app .screenshot img {
			max-width: 100px;
			max-height: 160px;
		}
				
		.videobuttons {
			float: none;
		}
		
		.videobuttons label {
			display: block;
		}
		
		.videobuttons .button {
			margin-left: 0;
			margin-right: 0.4em;
		}
		
		#header #logo {
		    margin-top: 15px;
		    margin-bottom: 10px;
		}
		
		#bannercontainer {
		    display: none;
		}
		
		#titlebar .backlink {
		    float: none;
		    position: absolute;
		    top: -65px;
		    right: 10px;
		}
		
		
	}
.ToolItems{width:100%;}	
.ToolItems ul{width:80%;clear:both;}
.ToolItems li{float:left; width:20%;}
.Clear{clear:both;}