html, body
{
    margin: 0;
    padding: 0;
    color: #333;
    font-size: .9em;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

/*leaflet control*/
.leaflet-bar-part img
{
    cursor: pointer;
}

#map
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #faf7f3;
}

.selected
{
    border: solid 1px green;
    box-shadow: 0px 0px 5px #666;
}

.unselected
{
    border: solid 1px #ccc;
}

/* layer-options panel*/
#left-panel
{
    display: block;
    width: 220px;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
}

.panel-header
{
    position: relative;
    padding: 10px 10px 0 10px;
}

    .panel-header .title
    {
        font-size: 110%;
        position: absolute;
        text-shadow: 0 1px 0 #f3f3f3;
    }

.panel-content
{
    padding: 25px 0 5px 5px;
}

#layer-options
{
    margin-top: 3em;
    list-style-type: none;
    padding: 0px;
    margin: 0 10px 0 3px;
}

    #layer-options ul
    {
        list-style-type: none;
        padding-left: 0px;
    }

    #layer-options li
    {
        margin-top: .5em;
        cursor: pointer;
        border-radius: 5%;
    }

    #layer-options div
    {
        height: 45px;
        overflow: hidden;
        background-repeat: no-repeat;
        border-radius: 5%;
        opacity: 0.7;
    }

    #layer-options span
    {
        background-color: #fff;
        color: #000;
        padding: 0.5em;
        font-size: 80%;
        opacity: 0.8;
    }

    #layer-options #layer-styling
    {
        background-image: url(../images/LabelStyling.png);
    }

    #layer-options #layer-point
    {
        background-image: url(../images/LabelingPoints.png);
    }

    #layer-options #layer-line
    {
        background-image: url(../images/LabelingLine.png);
    }

    #layer-options #layer-area
    {
        background-image: url(../images/LabelingPolygons.png);
    }

    #layer-options #layer-custom
    {
        background-image: url(../images/CustomLabeling.png);
    }

/*edit panel*/
#edit-panel
{
    display: none;
    position: relative;
    background-color: #fff;
    z-index: 9999;
}

    #edit-panel .edit-panel-header
    {
        position: relative;
        background-color: #eee;
        border-bottom: solid 1px #ccc;
        line-height: 30px;
        font-size: 110%;
        font-weight: bold;
        text-align: center;
    }

    #edit-panel .edit-foot
    {
        bottom: 5px;
        text-align: right;
    }

.edit-content, .edit-foot
{
    width: 94%;
    margin-left: 15px;
}

.edit-content
{
    margin-top: 15px;
}

    .edit-content ul
    {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .edit-content li
    {
        border-bottom: solid 1px #eee;
        line-height: 30px;
        margin-top: 10px;
    }

    .edit-content .edit-item-title
    {
        font-size: 100%;
    }

    .edit-content .edit-item
    {
        float: right;
    }

/* desktop broswer [portrait + landscape] */
@media only screen and (min-device-width: 736px)
{
    #left-panel
    {
        overflow-y: auto;
    }

    #bg-mask
    {
        position: absolute;
        left: 0pt;
        top: 0pt;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #333;
        -moz-opacity: 0.7;
        opacity: .7;
        filter: alpha(opacity = 70);
        z-index: 9998;
    }

    .centroid
    {
        top: 30%;
        left: 50%;
        position: absolute;
    }

    #edit-panel
    {
        width: 500px;
        margin-left: -250px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        padding-bottom: 10px;
    }

        #edit-panel .edit-foot
        {
            bottom: 5px;
            right: 5%;
        }
}

/* iphone(include 6 plus) [portrait + landscape] */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px)
{
    #left-panel
    {
        overflow-y: scroll;
        left: -220px;
    }

    #layer-options li div
    {
        height: 35px;
    }

    #edit-panel
    {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

        #edit-panel select, input[type='text']
        {
            width: 100%;
            padding: 4px 0 4px 0;
        }

        #edit-panel .edit-panel-header
        {
            height: 30px;
            line-height: 30px;
        }

            #edit-panel .edit-panel-header .left-btn, .edit-panel-header .right-btn
            {
                display: block;
            }

        #edit-panel .edit-content
        {
            border: none;
            box-shadow: 0px 0px 0px #999;
            margin-top: 0;
            width: 98%;
            margin-left: 2%;
        }

        #edit-panel .edit-foot
        {
            position: relative;
            margin-right: 10px;
            right: 0;
        }
}
