html, body {
    font-size: 13px;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    margin: 0px;
    color: #333;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#loadingImage {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 9000;
    display: none;
}

#leftControlBar {
    overflow-y: auto;
    display: block;
    width: 220px;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
}

.leftControlBarTitle {
    margin: 10px 0 0 10px;
    font-size: 115%;
}

.leftControlBarBody {
    position: relative;
}

    .leftControlBarBody h3 {
        margin: 10px 0;
    }

.leftControlBarItem {
    margin: 0 10px 0 10px;
}

    .leftControlBarItem .hidden {
        display: none;
    }

    .leftControlBarItem .show {
        display: block;
    }

    .leftControlBarItem .expanding {
        background-image: url(../images/collapse.png);
    }

    .leftControlBarItem ul {
        list-style-type: none;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }

    .leftControlBarItem li {
        margin-top: 6px;
        cursor: pointer;
        line-height: 20px;
    }

    .leftControlBarItem span {
        background-color: #fff;
        opacity: 0.8;
        font-size: 90%;
    }

    .leftControlBarItem div {
        height: 45px;
    }

.leftControlBarItemTitle {
    background-color: #86929B;
    font-size: 115%;
    line-height: 25px;
    height: 25px;
    color: white;
    padding-left: 5px;
    background-image: url(../images/expend.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

.selected {
    border: solid 1px green;
    box-shadow: 0px 0px 5px #666;
}

.unselected {
    border: solid 1px #ccc;
}

#validationDescription {
    width: 240px;
    position: absolute;
    display: block;
    right: 0;
    padding: 10px;
    background-color: #DDD;
    opacity: 0.85;
    z-index: 5001;
    box-shadow: 0px 0px 10px #333;
    max-width: 80%;
}

#footer .show {
    display: block;
}

#footer .hidden {
    display: none;
}

.validationDescriptionCollapse {
    background-image: url(../Images/description_maximize.gif);
}

.validationDescriptionExpand {
    background-image: url(../Images/description_minimize.gif);
}

.validationDescriptionBox {
    border-top-color: rgb(102, 102, 102);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0px 0px 5px;
}

#btnValidate {
    float: right;
    margin-top: 5px;
    font-size: 110%;
    line-height: 20px;
}

#inputPanel {
    margin-top: 8px;
    height: 28px;
    line-height: 15px;
    font-size: 12px;
}

#inputClusterTolerance {
    font-size: 11px;
    margin-right: 5px;
    margin-top: -1px;
    height: 15px;
    width: 110px;
    float: right;
}

#header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

#detail {
    font-size: 12px;
    line-height: 17px;
}

#descriptionExpandOrCollapseButton {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0px;
    cursor: pointer;
    z-index: 5002;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    #layers-panel {
        overflow-y: auto;
        left: -220px;
    }

    .layers-item li div {
        height: 35px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation:landscape) {
    .leaflet-bar-part img {
        width: 24px;
        height: 24px;
    }

    #leftControlBar {
        overflow-y: auto;
    }

        #leftControlBar li {
            margin-top: 5px;
        }
}

/* desktop broswer [portrait + landscape] */
@media only screen and (min-device-width: 736px) {
    #leftControlBar {
        overflow-y: auto;
    }

    .leaflet-bar-part img {
        margin-top: 3px;
        width: 20px;
        height: 20px;
    }
}
