/* DEFAULTS
----------------------------------------------------------*/
html, body, form
{
    font-family: "Segoe UI" , "Helvetica Neue" , "Lucida Grande" , Arial, Helvetica, Verdana, sans-serif !important;
    font-size: 14px;
    color: #000000;
    margin: auto;
    height: 100%;
    overflow-y: hidden;
}

a:link, a:visited
{
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
}

h4
{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    margin-top: 10px;
}
h5
{
    font-weight: normal;
    font-size: 14px;
    margin: 10px 0 15px 5px;
}
input[type="radio"], label
{
    line-height: 20px;
    vertical-align: top;
    font-family: "Segoe UI" , "Helvetica Neue" , "Lucida Grande" , Arial, Helvetica, Verdana, sans-serif !important;
    font-weight: Normal;
    color: black;
}

/****************************** layout *************************/
#container
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#header
{
    height: 50px;
    background-image: url("Images/headerBg.png");
    background-repeat: repeat-x;
    z-index: 9999;
}

#left-header
{
    float: left;
    margin-left: 30px;
    height: 50px;
    line-height: 50px;
}

#left-header, #header-mapsuite
{
    font-size: 16px;
    font-weight: 300;
}

#left-header, #header-title
{
    font-size: 22px;
    font-weight: 400;
}

#leftContainer
{
    float: left;
    width: 20%;
    height: 100%;
}

#content-container
{
    float: left;
    width: 100%;
    height: 91.1%;
}

#toggle
{
    float: right;
    vertical-align: middle;
    background-image: url("Images/toggleBg.png");
    background-repeat: repeat-y;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: 1999;
    padding-right: 5px;
}

#leftContainer
{
    float: left;
    width: 20%;
    height: 100%;
}

#map-content
{
    float: right;
    width: 80%;
    height: 100%;
}

#mapContainer
{
    width: 100%;
    height: 80%;
}

#footer
{
    clear: both;
    background: #e2e2e2;
    width: 100%;
    height: 25px;
    border-top: 1px solid #a0a0a0;
    font-size: .8em;
    font-weight: 400;
    line-height: 25px;
    z-index: 99999;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#footer #spanMouseCoordinate
{
    float: right;
    margin-right: 1%;
    color: #666666;
}

/****************************** loading image **********************/
#loading
{
    width: 100%;
    top: 50px;
    bottom: 25px;
    left: 20%;
    position: fixed;
    display: none;
    opacity: 0.7;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
}

#loading-image
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

/****************************** left panel *************************/
div#leftContent
{
    margin: 0 5px 0 5px;
}
div.divBorder
{
    padding: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    overflow: hidden;
}
#divBasemaps input
{
    border: 1px solid #a0a0a0;
    border-style: outset;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* user-agent specific */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px; /* etc... */
}
#divTrackShapes input
{
    margin-right: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px; /* user-agent specific */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px; /* etc... */
}
#divTrackShapes .active
{
    border: 1px solid #D3D3D3;
    background-color: #eeeeee;
}
#divblueBanner
{
    background-color: #0092da;
    font-weight: Bold;
    color: White;
    padding: 5px 0 5px 5px;
    margin: 10px 0 10px 0;
}
#divQueryPanel table
{
    width: 100%;
}
#divQueryPanel td
{
    border: 0;
    color: Black;
}
#divQueryPanel .slider
{
    width: 100%;
    vertical-align: bottom;
}
#divQueryPanel .cfgRangeTitle
{
    height: 33px;
    vertical-align: top;
    text-align: center;
}

/*********************************** result table *********************************/
#resultContainer
{
    position: fixed;
    float: right;
    right: 0px;
    width: 80%;
    height: 20%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px -2px 2px #eee;
    overflow-y:auto;
}
#resultContainer table
{
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    font-size: 13px;
    text-align: center;
    margin-top: 3px;
    margin-left: 10px;
}
#resultContainer tr, td
{
    line-height: 20px;
    vertical-align: middle;
    padding: 0px;
    border: 1px solid #ddd;
    color: #042271;
    background-color: White;
}
.result-header
{
    border: 1px solid #ddd;
    color: #000;
    font-size: 13px;
    background: -webkit-linear-gradient(#fff 10%, #f8f9fa 80%, #fff 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff 10%, #f8f9fa 80%, #fff 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff 10%, #f8f9fa 80%, #fff 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff 10%, #f8f9fa 80%, #fff 100%); /* Standard syntax (must be last) */
}


/*********************************** Jquery UI override*********************************/
.ui-slider .ui-slider-handle
{
    width: 11px;
    height: 18px;
    background: url("Images/ScaleBar.png") no-repeat;
    overflow: hidden;
    position: absolute;
    top: -10px;
    border-style: none;
}

.ui-slider-horizontal
{
    height: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.ui-widget-header
{
    border: 1px solid #e78f08;
    background: #cccccc;
    color: #fff;
    font-weight: bold;
}

.ui-slider-horizontal .ui-slider-range
{
    height: .2em;
    background-color: #418dd9;
}
