@using ThinkGeo.MapSuite
@using ThinkGeo.MapSuite.Drawing
@using ThinkGeo.MapSuite.Layers
@using ThinkGeo.MapSuite.Shapes
@using ThinkGeo.MapSuite.Styles;
@using ThinkGeo.MapSuite.Mvc;
@model ThinkGeo.MapSuite.Mvc.Map
<script language="javascript" type="text/javascript">
    function baseOverlayChanged(e) {
        if (e.baseLayer == "Google Map") {
            document.getElementById("plControls").style.display = '';
        }
        else {
            document.getElementById("plControls").style.display = 'none';
        }
    }
</script>
<div class="four columns" id="navigation">
    @{Html.RenderPartial("SourceCode");}
    <div id="instrux-body">
        <div id="instrux-text">
            Switch the base overlays in the overlay switcher panel to raise the BaseOverlayChanged
            event.
            <div id="plControls">
                <input type="button" class="sampleBtn" id="btnRoad" value="Normal" onclick="Map1.setCurrentBackgroundMapType(bing.maps.MapTypeId.ROADMAP); return false;" />
                <input type="button" class="sampleBtn" id="btnAerial" value="Hybrid" onclick="Map1.setCurrentBackgroundMapType(bing.maps.MapTypeId.HYBRID); return false;" /><br />
                <input type="button" class="sampleBtn" id="btnSatellite" value="Satellite" onclick="Map1.setCurrentBackgroundMapType(bing.maps.MapTypeId.SATELLITE); return false;" />
                <input type="button" class="sampleBtn" id="btnPhysical" value="Physical" onclick="Map1.setCurrentBackgroundMapType(bing.maps.MapTypeId.TERRAIN); return false;" /><br />
            </div>
        </div>
    </div>
</div>
<div class="sixteen columns" id="main">
    <div id="map">
        @{Html.ThinkGeo().Map(Model).OnClientBaseOverlayChanged("baseOverlayChanged").Render();}
    </div>
</div>
