@using ThinkGeo.MapSuite.Mvc
@using ThinkGeo.MapSuite
@using ThinkGeo.MapSuite.Drawing
@using ThinkGeo.MapSuite.Layers
@using ThinkGeo.MapSuite.Shapes
@using ThinkGeo.MapSuite.Styles
@model ThinkGeo.MapSuite.Mvc.Map 
<script language="javascript" type="text/javascript">
    function mapClick(e) {
        document.getElementById("Label1").innerHTML = "The world coordinates where you clicked are <br/><span style='color:red;font-size:13;font-weight:bolder;'> (" + e.worldXY.lon + "," + e.worldXY.lat + ") </span>.";
    }
</script>
<div class="four columns" id="navigation">
    @{Html.RenderPartial("SourceCode");}
    <div id="instrux-body">
        <div id="instrux-text">
            Click on the map to show the world coordinates in the window.
            <br />
            <br />
            <span id="Label1" />
        </div>
    </div>
</div>
<div class="sixteen columns" id="main">
    <div id="map">
        @{Html.ThinkGeo().Map(Model).OnClientClick("mapClick").Render();}
    </div>
</div>
