<!-- Footer
================================================== -->

<div id="footer">

    <div class="container">

        <div id="footercenter" class="five offset-by-four columns">
            <h4>About These Samples</h4>
            <p>This collection of .NET sample applications in C# and VB.NET is provided to help you get going quickly with Map Suite. We have categorized them to allow you to quickly find what you are looking for. Each application can be compiled and run so you can see how it works, and includes complete source code for you to review.</p>
        </div>

        <div id="footerleft" class="five columns offset-by-one">
            <h4>Online Resources</h4>
            <ul class="resources">
                <li><a href="http://gis.thinkgeo.com/Products/GISComponentsforNETDevelopers/MapSuiteMVCEdition/tabid/920/Default.aspx" class="about">About This Product</a></li>
                <li><a href="http://gis.thinkgeo.com/supportcenter" class="support">Support Center</a></li>
                <li><a href="http://gis.thinkgeo.com/forums" class="forums">Discussion Forums</a></li>
                <li><a href="http://wiki.thinkgeo.com" class="wiki">ThinkGeo Wiki</a></li>
            </ul>
        </div>

        <div id="footerright" class="four columns offset-by-one">
            <h4>Contact Us</h4>

            <p id="contact-vitals">
                <label>Toll-Free:</label> <span style="white-space:nowrap;">(866) 847-7510</span><br />
                <label>International:</label> <span style="white-space:nowrap;">(785) 727-4133</span><br />
                <label>Email:</label> <a href="mailto:sales@thinkgeo.com">sales@thinkgeo.com</a><br />
                <label>Web:</label> <a href="http://thinkgeo.com">http://thinkgeo.com</a>
            </p>

            <p id="contact-address">
                ThinkGeo LLC<br />
                2801 Network Blvd Ste 215<br />
                Frisco, TX 75034<br />
                United States
            </p>
        </div>

    </div><!-- /container -->

</div> <!-- /footer -->