<!-- Header
================================================== -->
<div id="header">
    <div class="container">
        <div class="four columns">
            <a href="http://thinkgeo.com" id="logo-link" target="_blank">
                <img src="@Url.Content("~/Resources/thinkgeo_logo_large.png")" width="185" height="44" id="logo" alt="Logo" title="Visit ThinkGeo on the web" />
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /header -->
<div id="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h1>
                Map Suite MVC Edition Sample Applications
            </h1>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /titlebar -->
<!-- /titlebar -->
