body {
    margin: 0px;
    font-family: Arial;
}

.unselected {
    border: 1px solid #ccc;
}

.selected {
    box-shadow: 0px 0px 5px green;
    border: 1px solid green;
    background-color:#E9F7EC;
}

.wing {
    width: 200px;
    margin-left: 8px;
    margin-right: 8px;
}

.title {
    margin-top: 8px;
}

.detailPanel {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #66ccff;
    font-size: 13px;
}

    .detailPanel select {
        width: 185px;
        margin: 4px 0 4px 0;
    }

.detail {
    margin-top: 4px;
}

#discription {
    margin-top: 4px;
    font-size: 12px;
}

#exportPanel input {
    width: 130px;
    font-size: 12px;
    margin-top: 4px;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

#left {
    height: 100%;
    position: absolute;
}

#printerLayers {
    padding: 0px;
}

    #printerLayers li {
        margin-top: 7px;
    }

    #printerLayers div {
        height: 45px;
        cursor: pointer;
        padding: 2px;
    }

    #printerLayers span {
        margin-top: 14px;
        position: absolute;
        font-size: 13px;
    }

#map {
    height: 100%;
    margin-left: 216px;
    margin-right: 216px;
    box-shadow: 0px 0px 5px #ccc;
}

#right {
    position: absolute;
    top: 0px;
    right: 0px;
}

#panPanel {
    width: 70%;
    text-align: center;
}

#panW {
    margin: 0 9px;
}

#panE {
    margin: 0 12px;
}
