body {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
}

img {
    vertical-align: middle;
}

.colorSelector {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    float: right;
    background: url(../images/Colorpicker/select.png) center;
}

.selected {
    border: solid 1px green;
    box-shadow: 0px 0px 5px #666;
}

.unselected {
    border: solid 1px #ccc;
}

.leaflet-disabled {
    opacity: 0.4;
    cursor: default;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}


#panelHeader {
    font-size: 15px;
    position: absolute;
    padding: 10px;
}

#panelContent {
    padding: 35px 0 5px 5px;
}

    #panelContent ul {
        padding-left: 0;
    }

#styleDescription {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5001;
    background-color: #f1e9e9;
    padding: 1px 6px 1px 6px;
    font-size: 16px;
    font-weight: bolder;
    max-width: 80%;
}

#leftPanel {
    display: block;
    width: 220px;
    height: 100%;
    position: absolute;
    z-index: 5001;
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
    overflow: auto;
}

#stylingOptions {
    list-style-type: none;
    margin: 0 10px 0 3px;
}

    #stylingOptions li {
        margin-top: 7px;
        cursor: pointer;
    }

    #stylingOptions div {
        height: 45px;
        overflow: hidden;
        background-repeat: no-repeat;
        opacity: 0.7;
    }

    #stylingOptions span {
        background-color: #fff;
        color: #000;
        font-size: 13px;
        opacity: 0.8;
        padding: 5px;
    }

#PredefinedStyles {
    background-image: url(../images/predefinedStyles.png);
}

#AreaStyle {
    background-image: url(../images/areaStyle.png);
}

#LineStyle {
    background-image: url(../images/lineStyle.png);
}

#ImagePointStyle {
    background-image: url(../images/imagePointStyle.png);
}

#SymbolPoint {
    background-image: url(../images/symbolPointStyle.png);
}

#CharacterPoint {
    background-image: url(../images/characterPointStyle.png);
}

#StyleByZoomLevel {
    background-image: url(../images/stylesByZoomLevels.png);
}

#CompoundStyle {
    background-image: url(../images/compoundStyle.png);
}


#editPanel {
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 5003;
    box-shadow: 5px 5px 5px #333;
    overflow: auto;
}

#editPanelHeader {
    position: relative;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    line-height: 30px;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.editContent {
    display: none;
    margin: 15px;
}

    .editContent ul {
        list-style-type: none;
        padding-left: 10px;
    }

    .editContent li {
        line-height: 30px;
        margin-top: 10px;
        border-bottom: solid 1px #eee;
    }

    .editContent input {
        padding: 4px 6px;
        height: 19px;
        font-size: 13px;
        line-height: 18px;
        color: #333;
        float: right;
    }

    .editContent select {
        height: 30px;
        float: right;
    }

#editFooter {
    text-align: right;
    margin-bottom:10px;
}

    #editFooter a {
        display: inline-block;
        border: 1px solid #CCC;
        margin-bottom: 1px;
        cursor: pointer;
        text-decoration: none;
    }

#btnCancel {
    padding: 5px 12px;
    color: #006dcc;
    background-color: #f5f5f5;
}

    #btnCancel:hover {
        color: #333;
        background-color: #f5f5f5;
    }

#btnSave {
    padding: 5px 17px;
    color: #fff;
    background-color: #006dcc;
}

    #btnSave:hover {
        color: #FFF;
        background-color: #03549b;
    }

/* desktop broswer [portrait + landscape] */
@media only screen and (min-device-width: 736px) {
    #leftPanel {
        overflow-y: auto;
    }

    .bg-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #333;
        opacity: .7;
        z-index: 5002;
    }

    #editPanel {
        top: 50%;
        left: 50%;
        width: 500px;
        margin-left: -250px;        
    }

    .editContent select {
        width: 222px;
    }

    .normalInput {
        width: 206px;
    }

    .colorpickerText {
        width: 173px;
    }

    #editFooter {
        margin-right: 15px;
        bottom: 5px;
    }
}

/* iphone(include 6 plus) [portrait + landscape] */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    #leftPanel {
        overflow-y: scroll;
        left: -220px;
    }

        #leftPanel li div {
            height: 35px;
        }

    #editPanel {
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

    .editContent select {
        width: 176px;
    }

    .normalInput {
        width: 160px;
    }

    .colorpickerText {
        width: 127px;
    }

    #editFooter {
        position: relative;
        margin-right: 10px;
        right: 0;
    }
}
