
.img-control
{
    position: absolute;
    top: 65px;
    left: 6px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-touch .img-control
{
    top: 80px;
}

.ol-touch button
{
    font-size: 1.3em;
}

.ol-control button
{
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 2px;
    cursor: pointer;
}

.img-control img
{
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px 1px 1px 1px;
    background-color: rgba(0,60,136,.5);
}

.ol-touch .img-control img
{
    font-size: 20px;
    height: 24px;
    width: 24px;
    line-height: 26px;
}

.img-control img:hover
{
    background: rgba(0,60,136,0.7);
}

/*context menu*/

.ol-menu
{
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    width: 230px;
}

    .ol-menu a.menu-item
    {
        display: block;
        color: #222;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        padding: 0 12px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        outline: none;
    }

        .ol-menu a.menu-item:hover
        {
            background-color: #f4f4f4;
        }

.menu-separator
{
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}
