html, body {
    font-size: 13px;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.leaflet-bar-part img {
    cursor: pointer;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#loadingImage {
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 9000;
    display: none;
}

#layer-description {
    position: fixed;
    font-size:120%;
    right: 0;
    top: 0;
    background-color: rgb(241, 233, 233);
    z-index: 5001;
    padding: 0 6px 0 6px;
    font-weight: bolder;
    text-align: center;
    max-width:80%;
}

.selected {
    border: solid 1px green;
    box-shadow: 0px 0px 5px #666;
}

.unselected {
    border: solid 1px #ccc;
}

/* style-options panel*/
#layers-panel {
    display: block;
    width: 220px;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
}

#layers-header {
    margin: 10px 0 0 10px;
    font-size: 115%;
}

#layers-category {
    position: relative;
}

.layers-item {
    margin: 0 10px 0 10px;
}

    .layers-item ul {
        list-style-type: none;
        margin: 0px 0px 10px 0px;
    }

    .layers-item li {
        margin-top: 6px;
        cursor:pointer;
    }

    .layers-item div {
        height: 45px;
    }

.item-name {
    height: 38.2%;
    margin: 2px 1px 1px 5px;
    font-size: 115%;
    font-weight: normal;
}

.item-description {
    margin-left: 15px;
    font-size: 85%;
    opacity: 0.8;
}

#layers-footer {
    margin-left: 10px;
    /*position: absolute;
    bottom: 0;*/
}

.layers-category-name {
    background-color: #86929B;
    font-size: 115%;
    line-height: 25px;
    height: 25px;
    color: white;
    padding-left: 5px;
    background-image: url(../Images/expend.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor:pointer;
}

.layers-item .hidden {
    display: none;
}

.layers-item .show {
    display: block;
}

.layers-item .collapse {
    background-image: url(../Images/collapse.png);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    #layers-panel {
        overflow-y: auto;
        left: -220px;
    }

    .layers-item li div {
        height: 35px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation:landscape) {
    .leaflet-bar-part img {
        width: 24px;
        height: 24px;
    }

    #layers-panel {
        overflow-y: auto;
    }

    .layers-item li div {
        height: 25px;
    }

    .layers-item li {
        cursor: pointer;
        border: 0;
    }

    #layers-panel li {
        margin-top: 5px;
    }
}

/* desktop broswer [portrait + landscape] */
@media only screen and (min-device-width: 736px) {
    #layers-panel {
        overflow-y: auto;
    }

    .leaflet-bar-part img {
        margin-top: 3px;
        width: 20px;
        height: 20px;
    }
}
