<div class="four columns" id="navigation">
    @{Html.RenderPartial("SourceCode");}
    <div>
        <input type="checkbox" id="">
    </div>
</div>
<div class="sixteen columns" id="main">
    
</div>